@import '../../../styles/variables';


@media (orientation: landscape) {
    
    .container {
        margin: 100px 60px ;
    
        .sectionTitle {
            text-align: center;
            font-family: $accent-font;
            font-size: 35px;
            color: $accent-font-color-pink;
        }
    
        .buttonGroup {
            margin: 40px;
            display: flex;
            gap: 50px;
            align-content: center;
            justify-content: center;
    
            @import '../../../styles/buttons';
            .whiteButton {
                padding: 10px 30px;
            }
    
            .activeButton {
                padding: 10px 30px;
            }
        }
    
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            gap: 60px;
        }
    }
}

@media (orientation: portrait) {
    
    .container {
        margin: 100px 40px ;
    
        .sectionTitle {
            text-align: center;
            font-family: $accent-font;
            font-size: 30px;
            color: $accent-font-color-pink;
        }
    
        .buttonGroup {
            margin: 30px;
            display: flex;
            gap: 10px;
            align-content: center;
            justify-content: center;
    
            @import '../../../styles/buttons';
            .whiteButton {
                padding: 10px 15px;
            }
    
            .activeButton {
                padding: 10px 15px;
            }
        }
    
        .cards {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }   
}
