@import '../../../../styles/variables';


@media (orientation: landscape) {

    .container {
        padding: 10px;
    
        .answersList {
            list-style-position: inside;
    
            .answer {
                text-align: center;
                font-family: $main-font;
                font-size: 45px;
                color: $main-font-color;
            }
        }
    }
}

@media (orientation: portrait) {
    
    .container {
        padding: 10px;
    
        .answersList {
            list-style-position: inside;
    
            .answer {
                font-family: $main-font;
                font-size: 1.5rem;
                line-height: 130%;
                color: $main-font-color;
            }
        }
    }
}
