@import '../../../styles/variables';

.container {
    padding-top: 100px;
    height: 320px;
    background: $glare-pink;

    .main {
        padding-top: 50px;
        padding-left: 60px;
        position: absolute;
        width: 550px;
        z-index: 100;
        
        .mainTitle {
            margin: 0;
            margin-bottom: 20px;
            font-family: $accent-font;
            font-size: 64px;
            color: $main-font-color;
            line-height: 100%;
            z-index: 100;

            span {
                color: $accent-font-color-blue;
            }
        }

        .mainDescription {
            margin: 0;
            margin-bottom: 20px;
            font-family: $main-font;
            font-size: 20px;
            color: $secondary-font-color;
            line-height: 110%;
            z-index: 100;
        }

    }

    .images {
        margin: 0;
        padding: 0;


        .imgPlanet {
            position: absolute;
            right: 0%;
            top: 22%;
            max-width: 800px;
            background: $glare-blue;
            z-index: 1;
        }

        .imgGhostBlue {
            position: absolute;
            right: 0%;
            top: 15%;
            max-width: 180px;
            z-index: 5;
        }

        .imgGhostYellow {
            position: absolute;
            left: 0%;
            top: 50%;
            max-width: 100px;
            z-index: 5;
        }
    }

}