@import '../../../styles/variables';


.image {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10%;


    .imageContent {
        width: 25%;
        height: 25%;
        background: $background-pink;
        border: 5px solid $background-pink;
        border-radius: 10px;
    }
}