@import '../../../styles/variables';

.container {
    margin: 0;
    padding: 0;
    height: 60px;
    background: $footer-background;

    .footerText {
        margin: 0;
        padding-top: 20px;
        font-family: $main-font;
        font-size: 14px;
        color: $secondary-font-color;
        text-align: center;
    }


}