@import '../../../styles/variables';

.container {
    width: 100%;
    height: 12px;
    background-color: $translucent-field;
    border-radius: 5px;
    overflow: hidden;

    .timerBar {
        height: 100%;
        background-color: $blur-effect-pink;
        transition: width 1s linear, margin 1s linear;
    }
}